<footer>
    <div id="footer-header">
        <div class="contenedor">
            <div class="logo">
                <h3>Tienda en linea</h3>
            </div>
            <nav id="sociales-nav">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </nav>
        </div>
    </div>
    <div class="contenido">
        <div class="contenedor">
            <div class="columna">
                <h4>Acerca de Nosotros</h4>
                <p>Adipisicing elit. Fugit quia blanditiis quisquam facilis repudiandae eum, fugiat quos. Dolore nesciunt a voluptatum, voluptatibus necessitatibus aspernatur sunt ea aperiam consectetur molestias reiciendis.</p>
            </div>
            <div class="columna">
                <h4>contacto</h4>
                <div class="row">
                    <p>+52 678 254 1135</p>
                </div>
                <div class="row">
                    <h5>Direccion</h5>
                    <p>Calle: <span>Nombre Calle</span></p>
                    <p>CP: <span>00000</span></p>
                    <p>Colonia: <span>Nombre Colonia</span></p>
                    <p>Ciudad: <span>Nombre Ciudad</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p>&copy; Copyrights 2015 Made By <span>Ricardo Garcia</span> rights reserved.</p>
    </div>
</footer>