<div id="dashboard">
    <div class="contenedor">
        <div class="seccion">
            <div class="cards">
                <app-dashcard title="productos totales" number="8" link="/comercio/productos"></app-dashcard>
                <app-dashcard title="Pedidos" number="8" link="/comercio/pedidos"></app-dashcard>
                <app-dashcard title="ventas" number="19" link="/comercio/ventas"></app-dashcard>
                <app-dashcard title="publicaciones" number="19" link="/comercio/ventas"></app-dashcard>
                <app-dashcard title="clientes" number="19" link="/comercio/ventas"></app-dashcard>
                <app-dashcard title="ganancias" number="35000" link="/comercio/ventas"></app-dashcard>
            </div>
        </div>
    </div>
</div>