<div class="fadeIn">

    <div class="hero">
        <div class="contenedor">
            <div class="mensaje">
                <p class="saludo">Bienvenido a</p>
                <h2 class="saludo">Tienda En Linea</h2>
            </div>
        </div>
        <div class="flecha-wrap">
            <div class="flecha"><i class="bounce fa fa-arrow-down"></i></div>
        </div>
    </div>

    <div class="seccion">
        <div class="contenedor">
            <div class="contenido">
                <div class="imagen">

                </div>
                <div class="texto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In harum aut ex, temporibus saepe
                        tempora quo ea recusandae rerum iusto obcaecati culpa eaque incidunt quae pariatur consequatur,
                        optio magnam sit.</p>
                    <p>tempore at corrupti perspiciatis deserunt distinctio unde odio cum facilis reprehenderit itaque
                        in, nihil voluptates. Ex cum quisquam adipisci?</p>
                </div>
            </div>
        </div>
    </div>
</div>