#app-footer {
    animation: fadeIn .3s;
}

/* ==========================================================================
    Header Footer
========================================================================== */

#footer-header {
    background-color: var(--queen-blue);
    padding: 1rem 0;
    position: relative;
    bottom: 0;
}

/* ==========================================================================
    contenido
========================================================================== */

.body {
    background-color: var(--cg-blue-clear);
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.contenido-body {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

#sociales-nav {
    margin: 1rem auto;
}

#sociales-nav a {
    margin-right: 2rem;
    color: var(--dark-green);
    font-size: 2.4rem;
}

#sociales-nav a i {
    transition: all .1s ease-in-out;
}

#sociales-nav a:hover i {
    color: var(--maize-crayola);
    transform: scale(1.2);
}

#sociales-nav a:last-of-type {
    margin-right: 0;
}

/* ==========================================================================
    contenido
========================================================================== */

.columna {
    flex: 0 0 calc(50% - 1rem);
}

.columna h4 {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.columna p {
    font-size: 1.2rem;
}

.row h5 {
    margin-left: 16px;
    padding: 8px;
}

.row span {
    color: var(--dark-green);
}
/* ==========================================================================
    copy
========================================================================== */

.copy-right p {
    padding: 8px;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--yale-blue);
    text-align: center;
    color: white;
}

.copy-right p span {
    font-weight: 700;
}