<footer id="app-footer">

    <div id="footer-header"></div>

    <div class="body">
        <div class="contenedor contenido-body">
            <nav id="sociales-nav">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </nav>
            <div class="columna">
                <h4>Acerca de Nosotros</h4>
                <p>Adipisicing elit. Fugit quia blanditiis quisquam facilis repudiandae eum, fugiat quos. Dolore nesciunt a voluptatum, voluptatibus necessitatibus aspernatur sunt ea aperiam consectetur molestias reiciendis.</p>
            </div>
        </div>
    </div>
    
    <div class="copy-right">
        <p>&copy; Copyrights 2015 Made By <span>Ricardo Garcia</span> rights reserved.</p>
    </div>

</footer>