<nav id="admin-navbar">
    <div class="enlaces">
        <a routerLinkActive="admin-active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin"><i class="fas fa-home"></i> Dashboard</a>
        <a routerLinkActive="admin-active" routerLink="productos"><i class="fas fa-home"></i> Productos</a>
        <a routerLinkActive="admin-active" routerLink="comercios"><i class="fas fa-home"></i> Comercios</a>
        <a routerLinkActive="admin-active" routerLink="consumidores"><i class="fas fa-home"></i> Consumidores</a>
        <a routerLinkActive="admin-active" routerLink="solicitudes"><i class="fas fa-home"></i> Solicitudes</a>
        <a routerLinkActive="admin-active" routerLink="categorias"><i class="fas fa-home"></i> Categorias</a>
    </div>
</nav>