:root {
    --blue: #0275d8;
    --green: #22bb33;
    --red: #FF3333;
    --apple: #61c95e;
    --gray: #bebebe;
    --dark-gray: #9c9c9c;
    --light-gray: #e1e1e1;
    /* ------------------------------------------------------------------------------------------ //  // */
    --red-salsa: #f94144ff;
    --orange-red: #f3722cff;
    --yellow-orange-color-wheel: #f8961eff;
    --mango-tango: #f9844aff;
    --maize-crayola: #f9c74fff;
    --pistachio: #90be6dff;
    --zomp: #43aa8bff;
    --cadet-blue: #4d908eff;
    --queen-blue: #577590ff; /* color princial */
    --cg-blue: #277da1ff;
    --cg-blue-clear: rgb(235, 248, 253);
    /* ------------------------------------------------------------------------------------------ //  // */
    --key-lime: #d9ed92ff;
    --yellow-green-crayola: #b5e48cff;
    --granny-smith-apple: #99d98cff;
    --ocean-green: #76c893ff;
    --keppel: #52b69aff;
    --viridian-green: #34a0a4ff;
    --blue-munsell: #168aadff;
    --celadon-blue: #1a759fff;
    --lapis-lazuli: #1e6091ff;
    --yale-blue: #184e77ff;
}

html {
    line-height: 1.5;
    font-size: 75%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.4rem;
    background-color: rgb(240, 240, 240);
    height: 100%;
}

h1,
h2,
h3,
h3,
h4,
h5,
p {
    margin: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4.0rem;
}

h2 {
    background: #ccc;
    background: linear-gradient(135deg, var(--celadon-blue), var(--zomp));
    font-size: 3.8rem;
    text-align: center;
    text-transform: uppercase;
    /* color: transparent; */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

a {
    text-decoration: none;
}


/* ==========================================================================
  formater
========================================================================== */

input {
    border: 1px solid var(--dark-gray);
    padding: 8px;
    border-radius: 5px;
}

i:focus {
    outline: none;
}

a:focus {
    outline: none;
    color: var(--maize-crayola)!important;
}

input:focus {
    outline: none;
    box-shadow: 0 0 2px 2px var(--apple);
}

textarea {
    resize: none;
}

textarea:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* ..........................................................................
  utilidades
.......................................................................... */

.contenedor {
    width: 95%;
    margin: 0 auto;
}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 80%;
        margin: 0 auto;
    }
}

.seccion {
    padding: 2.8rem 0;
}

.contenedor-sm {
    width: 75%;
    margin: 0 auto;
}

.p-relative {
    position: relative;
}

.desactivo {
    background-color: rgb(238, 238, 238) !important;
}


/* ------------------------ WIDTH */

.w-100 {
    width: 100% !important;
}

.w-95 {
    width: 95% !important;
}

.w-90 {
    width: 90% !important;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.w-25 {
    width: 25% !important;
}

.w-auto {
    width: auto !important;
}


/* -----------------------TEXT ALIGN */

.centrar {
    margin: 0 auto !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/* ------------------------ HEIGHT */

.height-3 {
    height: 3rem;
}

.height-4 {
    height: 4rem;
}


/* ------------------------ MARGINS */


/* ------------------ top */

.m-0 {
    margin: 0 !important;
}

.mt {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}


/* ------------------ bottom */

.mb {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}


/* ------------------ left */

.ml {
    margin-left: 0.5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}


/* ------------------ right */

.mr {
    margin-right: 0.5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}


/* ------------------ top-bottom */

.mtb-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mtb-2 {
    margin-top: 2rem;
    margin-bottom: 2rem
}


/* ------------------------ PADDINGS */

.pd-0 {
    padding: 0 !important;
}

.pd {
    padding: 0.5rem !important;
}

.pd-1 {
    padding: 1rem !important;
}

.pd-2 {
    padding: 2rem !important;
}

.ptb-1 {
    padding: 1rem 0 !important;
}

.ptb-2 {
    padding: 2rem 0 !important;
}

.plr-1 {
    padding: 0 1rem !important;
}

.plr-2 {
    padding: 0 2rem !important;
}


/* ------------------------ FONT */

.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}


/* ------------------------ DISPLAY */

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.col-1 {
    flex-basis: calc((100% / 12) - 1rem);
    /* 8.3333 */
}

.col-2 {
    flex-basis: calc((100% / 6) - 1rem);
    /* 16.6666 */
}

.col-3 {
    flex-basis: calc(25% - 1rem);
    /* 25 */
}

.col-4 {
    flex-basis: calc((100% / 3) - 1rem);
    /* 33.3333 */
}

.col-5 {
    flex-basis: calc((100% / 2.4) - 1rem);
    /* 41.66666 */
}

.col-6 {
    flex-basis: calc(50% - 1rem);
    /* 50% */
}

.col-7 {
    flex-basis: calc(58.33% - 1rem);
}

.col-8 {
    flex-basis: calc((100% / 1.5) - 1rem);
}

.col-9 {
    flex-basis: calc(75% - 1rem);
}

.col-10 {
    flex-basis: calc((100% / 1.2) - 1rem);
}

.col-11 {
    flex-basis: calc(91.66% - 1rem);
}

.col-12 {
    flex-basis: 100%;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.subrayado {
    border-bottom: 2px solid var(--dark-light);
    padding-bottom: 1rem;
}


/* ==========================================================================
  animaciones
========================================================================== */

.fadeIn-left {
    animation-name: fadeIn-left;
}

.fadeIn-right {
    animation-name: fadeIn-right;
}

.fadeOut-right {
    animation-name: fadeOut-right;
}

.fadeOut-left {
    animation-name: fadeOut-left;
}

.fadeIn-right,
.fadeIn-left,
.fadeOut-right,
.fadeOut-left {
    position: relative;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
}

@keyframes fadeIn-right {
    from {
        right: 100%;
        filter: opacity(0);
    }
    to {
        right: 0;
        filter: opacity(1);
    }
}

@keyframes fadeIn-left {
    from {
        left: 100%;
        filter: opacity(0);
    }
    to {
        left: 0;
        filter: opacity(1);
    }
}

@keyframes fadeOut-rigth {
    from {
        left: 0%;
        filter: opacity(1);
    }
    to {
        left: 100%;
        filter: opacity(0);
    }
}

@keyframes fadeOut-left {
    from {
        right: 0%;
        filter: opacity(1);
    }
    to {
        right: 100%;
        filter: opacity(0);
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: .2s;
}

@-webkit-keyframes fadeIn {
    from {
        -webkit-filter: opacity(0);
    }
    to {
        -webkit-filter: opacity(1);
    }
}

@keyframes fadeIn {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-18px);
    }
    60% {
        transform: translateY(-36px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-18px);
    }
    60% {
        transform: translateY(-36px);
    }
}


/* ..........................................................................
  botones
.......................................................................... */

.btn {
    display: inline-block;
    padding: 0.8rem 1rem;
    height: fit-content;
    border: none;
    cursor: pointer;
    font-weight: 300;
    border-radius: 4px;
    text-transform: uppercase;
    overflow: hidden;
    border: 1px solid gray;
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    filter: brightness(0.9);
    color: var(--dark);
    cursor: default;
}

.btn:disabled:hover {
    filter: brightness(0.9);
}


/* Primary */

.btn-primary {
    background-color: var(--blue);
    color: white;
    border: none;
}

.btn-danger {
    background-color: var(--red);
    color: white;
    border: none;
}

.btn-success {
    background-color: var(--green);
    color: white;
    border: none;
}


/* ------------------------------------------------------------------------------------------ // Especiales // */

.sp-btn {
    position: relative;
    z-index: 3;
    background: transparent;
    color: black;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 2rem;
    border: none;
}

.sp-btn::before {
    content: '';
    position: absolute;
    background-color: var(--queen-blue);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.sp-btn::after {
    content: '';
    position: absolute;
    background-color: var(--cadet-blue);
    top: 0;
    left: 0;
    width: 0%;
    bottom: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
}

.sp-btn:focus::after {
    width: 100%;
}

.sp-btn:disabled {
    color: var(--dark-gray);
}

.sp-btn:disabled::before {
    background-color: var(--gray);
    border: none;
}

.sp-btn:disabled:hover::after {
    width: 0%;
}

.sp-btn:hover::after {
    width: 100%;
}


/* ..........................................................................
  switch
.......................................................................... */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ==========================================================================
  formularios
========================================================================== */

.form-input {
    padding: 8px;
    border-radius: 5px;
}


/* ------------------------------------------------------------------------------------------ // formulario 1 // */