<div class="seccion fadeIn-left" id="acerca-app">
    <div class="contenedor">
        <h2>acerca de nosotros</h2>
        <div class="flex">
            <div class="col-7">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab odio dignissimos velit esse! Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Recusandae quae quas nulla, modi, quod accusamus
                    accusantium doloremque autem dignissimos quidem ipsa quam saepe? Pariatur excepturi vitae, voluptatem
                    sed debitis assumenda. Eos soluta eveniet eius. Optio soluta et ab? Cumque delectus tenetur repellendus
                    adipisci saepe incidunt quia ipsa?
                </p>
            </div>
            <div class="col-4 right-side">
                <div class="img">
                    <img src="/assets/img/acerca.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>