<aside id="slide-menu" class="active">
    <div class="slide-menu-content">
        <nav class="slide-menu-items">
            <a class="link" routerLink="home" routerLinkActive="active">
                <i class="fas fa-home"></i>
                <p>dashboard</p>
            </a>
            <a class="link" routerLink="productos" routerLinkActive="active">
                <i class="fas fa-archive"></i>
                <p>productos</p>
            </a>
            <a class="link" routerLink="pedidos" routerLinkActive="active">
                <i class="fas fa-money-bill"></i>
                <p>ventas</p>
            </a>
            <a class="link" routerLink="ventas" routerLinkActive="active">
                <i class="fas fa-dolly-flatbed"></i>
                <p>pedidos</p>
            </a>
        </nav>
    </div>
</aside>