#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3.4rem 0;
    background-color: var(--queen-blue);
    animation: fadeIn .5s;
    transition: all .2s ease-in-out;
    z-index: 77;
}

#navbar a {
    position: relative;
    color: white;
    margin-right: 16px;
    transition: all .2s ease-in-out;
}

#navbar a::after,
#navbar a::before {
    content: '';
    position: absolute;
    top: -2px;
    width: 0px;
    height: 2px;
    transition: all .3s ease-in-out;
}

#navbar a::after {
    right: 50%;
}

#navbar a:hover::after {
    background-color: var(--maize-crayola);
    width: 50%;
}

#navbar a::before {
    left: 50%;
}

#navbar a:hover::before {
    background-color: var(--maize-crayola);
    width: 50%;
}


/* ------------------------------------------------------------------------------------------ // active // */

#navbar a.active {
    color: var(--maize-crayola);
}

#navbar a.active::after,
#navbar a.active::before {
    width: 50%;
    background-color: var(--maize-crayola);
}

#navbar a.active:hover::after,
#navbar a.active:hover::before {
    background-color: var(--maize-crayola);
}

#navbar a:hover {
    color: var(--maize-crayola) !important;
}


/* ==========================================================================
    pagina welcome
========================================================================== */

#navbar.welcome {
    background-color: transparent;
    box-shadow: none;
}

#navbar.welcome a {
    color: white;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}